.popShowTut{
  position: relative;
  z-index: 9999;
  padding: 3px 15px 1px;
  background: #fff;
  max-width: 350px;
  border-top: 10px solid #fff;
}
.popShowTut .mbsc-cal-cell-i.mbsc-cal-day-i{
  height: 130px;
}
.popShowTut .mbsc-cal.mbsc-cal-week-view:after {
  content: "In order to create instant hours or unavailable hours, start with selecting a date.";
  position: absolute;
  width: 100%;
  background: #22bfea;
  z-index: 999;
  left: 0;
  right: 0;
  width: 320px;  
  font-size: 14px;
  top: 120px;
  right:0;
  border-radius: 10px;
  padding: 10px;
  margin:auto;
  color:#fff;
  font-family: 'Poppins', sans-serif;
}
@media (max-width:479px){
  .popShowTut .mbsc-cal.mbsc-cal-week-view:after{
    width: 80%;
    font-size: 13px;
  }  
}
.popShowTut .mbsc-selected:before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;  
  border-bottom: 10px solid #22bfea;
  top:40px;
  left:0;
  right:0;
  margin:auto
}
.popShowTut .mbsc-form-group {
  margin-bottom: 0;
}
.popShowTut .instaBookTootip {
  position: absolute;
  width: 100%;
  background: #22bfea;
  max-width: 210px;
  top: -65px;
  right: 0;
  left: 0;
  margin: auto;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}
.popShowTut .instaBookTootip:before, .popShowUnavailable .instaBookTootip:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #22bfea;
  top: 61px;
  left: 30px;
  right: 0;
  margin: auto;
}
.popShowTut .mbsc-fr-w{
  background: #fff;
  height: 125px;
  padding: 0px 0px;
  overflow: inherit;
}
.popShowTutDiv, .popShowUnavailable {
  position: relative;
}
.popShowTutDiv .instantRow,
.popShowUnavailable .instantRow{
  padding: 15px 15px 15px;
  background: #fff;
  max-width: 350px;
  position: relative;
  z-index: 9999;
}
.instaBookTootip {
  display: none;
}
.popShowTutDiv .instantRow .instaBookTootip,
  .popShowUnavailable .instantRow .instaBookTootip {
  position: absolute;
  display:block;
  width: 100%;
  background: #22bfea;
  max-width: 210px;
  top: -62px;
  right: 0;
  left: 0;
  margin: auto;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  text-transform: initial;
  font-size: 14px;
  font-weight: normal;
}

.popShowTutDiv .instantRow .instaBookTootip:before,
.instaBookTootip .instantRow .instaBookTootip:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #22bfea;
  top: 61px;
  left: 30px;
  right: 0;
  margin: auto;
}
.popShowUnavailable .instantRow .instaBookTootip{
  top: -40px;
  max-width: 270px;
}
.popShowUnavailable .instantRow .instaBookTootip:before {
  top: 41px;
}
.instaBookPara {
  display: none;
}
.instaBookPara {
  position: relative;
  z-index: 9999;
  color: #fff;
  font-weight: 300;
  font-size: 13px;
  text-transform: initial;
  text-align: center;
}
.popShowTutDiv .instaBookPara,
.instaBookTootip .instaBookPara,
.popShowUnavailable .instaBookPara{
  display: block;
}
.step5Tutotial {
  z-index: 9999;
  position: relative;  
}
.calenderManegemetPop {
  max-width: 410px;
  overflow-x: hidden;
}
.calenderManegemetPop > p > div:nth-child(2) > div > div{
  padding: 15px 15px 15px;
  background: #fff;
}
.calenderManegemetPop > p > div:first-child  ul.time_block_manage.time_block{
  max-width: calc(350px + 60px);

}
ul.time_block_manage.time_block li {
  width: 13.6033%;
}
@media (max-width:479px){
  ul.time_block_manage.time_block li {
    width: 12.5%;
  }
}
@media (min-width:480px) and (max-width:767px){
  ul.time_block_manage.time_block li {
    width: 13.72%;
  }
}
.calenderManegemetPop {
  padding: 0px !important;
}
@media (max-width:479px){
  .calenderManegemetPop {
    padding: 0px 15px !important;
  }
}
.calenderManegemetPop > p > div .selectDatetitle {
  background: #fff;
  padding: 15px;
}
.calenderManegemetPop > p > div .selectDatetitle span {
  float: right;
  font-size: 14px;
  border: 2px solid #22bfea;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 400;
  cursor:  pointer;
}
ul.time_block_manage.time_block{
  top: 0px;
  position: relative;
}
.instaBookTootipFifth{
  display:none;
}
.step5Tutotial .instaBookTootipFifth {
  position: absolute;
  display:block;
  width: 100%;
  background: #22bfea;
  max-width: 280px;
  bottom: -20px;
  right: 0;
  margin: auto;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  -webkit-overflow-scrolling:touch;
}
.step5Tutotial .instaBookTootipFifth::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #22bfea;
  top: -7px;
  right: 10px;
  margin: auto;
}
.instaBookTootipninth{
  display:none;
}
.step5Tutotial .instaBookTootipninth {
  position: absolute;
  display: block;
  width: 100%;
  background: #22bfea;
  max-width: 280px;
  bottom: -40px;
  right: 20px;
  margin: auto;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}
@media (max-width:479px){
  .step5Tutotial .instaBookTootipninth {
    width: 80%;
    bottom: -90px;
    right: 15px;
    padding: 10px 15px;
    font-size: 13px;
  }
  .step5Tutotial .instaBookTootipninth::before{
    top: -8px;
    right: 50px;
    margin: auto;
  }
}
@media (min-width:480px) and (max-width:767px){
  .step5Tutotial .instaBookTootipninth {
    width: 80%;
    bottom: -90px;
    right: 50px;
    padding: 10px 15px;
    font-size: 13px;
  }
  .step5Tutotial .instaBookTootipninth::before{
    top: -8px;
    right: 50px;
    margin: auto;
  }
}
.step5Tutotial .instaBookTootipninth::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #22bfea;
  top: -7px;
  right: 50px;
  margin: auto;
}
.step6Tutotial {
  z-index: 9999;
  position: relative;
  background: #fff;
  padding: 15px;
}
.instantstep6Tutotial {
  padding: 15px 15px 0px;
}
.instaBookTootipSix {
  display:none;
}
.step6Tutotial .instaBookTootipSix {
  position: absolute;
  width: 100%;
  background: #22bfea;
  max-width: 280px;
  top: -100px;
  right: 10px;
  margin: auto;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  display:block;
}
.step6Tutotial .instaBookTootipSix::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #22bfea;
  bottom: -8px;
  right: 15px;
  margin: auto;
}
@media (max-width:479px){
  .step6Tutotial {    
    width: calc(100% - 30px);
    position: fixed;
    bottom:70px;
}
  .step6Tutotial .instaBookTootipSix{
    width: 80%;
    top: -95px;
    right: 15px;
    font-size: 13px;
  }
}
@media (min-width:480px) and (max-width:767px){
  .step6Tutotial{
    top: -150px;
  }
  .step6Tutotial .instaBookTootipSix{
    width: 80%;
    top: -95px;
    right: 15px;
    font-size: 13px;
  }
}
 .step7Tutotial {
  z-index: 9999;
  position: relative;
  background: #fff;
  padding: 15px !important;
}

.calenderManegemetPop > p > div .cancelBtn {
  background: transparent;
  color: #000;
}
.calenderManegemetPop > p > div .cancelBtn:hover {
  background: transparent;
  color: #22bfea;
}
.step7Tutotial .instaBookTootipSeven {
  top: -60px; 
}
.instaBookTootipSeven {
  display:none;
}
.step7Tutotial .instaBookTootipSeven {
  position: absolute;
  width: 100%;
  background: #22bfea;
  max-width: 200px;
  top: -60px;
  left: 10px;
  margin: auto;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  display:block;
}
.step7Tutotial .instaBookTootipSeven::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #22bfea;
  bottom: -8px;
  right: 30px;
  margin: auto;
}
@media (max-width:479px){
  .step7Tutotial{
    position: fixed !important;
    bottom: 70px;
    width: calc(100vw - 30px);
  }
  .step7Tutotial .instaBookTootipSeven{
    width: 80%;
    top: -75px;
    left: 10px;
    font-size: 13px;
  }
  .step7Tutotial .instaBookTootipSeven::before{
    left: initial;
    right: 30px;
    bottom: -7px;
  }
}
@media (min-width:480px) and (max-width:767px){
  .step7Tutotial{
    top: -375px;
  }
  .step7Tutotial .instaBookTootipSeven{
    width: 80%;
    top: -75px;
    left: 10px;
    font-size: 13px;
  }
  .step7Tutotial .instaBookTootipSeven::before{
    right: initial;
  }
}
.plus{
  border: 1px solid #fff;
  width: 15px;
  display: inline-block;
  border-radius: 50%;
  height: 15px;
  line-height: 16px;
}
.tutorialLastStep {
  position: relative;
  z-index: 9999;
}
.tutorialLastStep img {
  padding: 5px;
  border-radius: 50%;
  background: #fff;
}
.tutorialLastStepTooltip{
  display:none;
}
.tutorialLastStep .tutorialLastStepTooltip{
  position: absolute;
    width: 100%;
    background: #22bfea;
    width: 220px;
    top: 50px;
    right: 0px;
    margin: auto;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-transform: initial;
}
.tutorialLastStep .tutorialLastStepTooltip::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #22bfea;
  top: -8px;
  right: 10px;
  margin: auto;
}
.tutorialLastPara {
  display: none;
}
.tutorialLastStep .tutorialLastPara{
  display: block;
    z-index: 9999;
    color: #fff;
    position: absolute;
    top: 130px;
    width: 280px;
    text-align: center;
    line-height: 23px;
    font-size: 13px;
    font-weight: 300;
    right: -10px;
    text-transform: initial;
}
.tutorialLastPara span{
  display: block;
} 
.tutorialLastPara span a{
    color: #22bfea;
    font-weight: 400;
    text-transform: initial;
}
.mbsc-material .mbsc-fr-w{
  box-shadow:'none',
}
.mbsc-material .mbsc-fr-w{
  background: #fff;
  box-shadow: none;
}
.mbsc-ios.mbsc-form{
  background:  transparent;
}
.tutorialStepPopup{
  z-index: 10 !important;
}
.step5Tutotial .instaBookTootipninth.instaBookTootipFifthNew{
  bottom: -19px;
}

@media (max-width:767px){
.tutorialStepContainer > div:first-child{
  z-index: initial;
  position: relative;
  overflow: inherit;
}

}
.availabilityTooltipHidden {
  position: relative !important ;
  background: none !important;
}
.step5Tutotial + div{
  overflow: hidden;
}
.step5Tutotial + div::before {
  position: absolute;
  content: "";
  /* background: #000000a1; */
  width: 100%;
  height:calc(100% - 199px);
  top: 200px;
  z-index: 1;
  right:'0'
}
.step5Tutotial{
  position: relative;   
}
.calendar_tutorial .calenderManegemetPop:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 110%;
  background:rgba(0,0,0,0.5);
  z-index: 2;
  top: -33px;
}
@media (max-width:767px){
  .calenderManegemetPop {
    padding: 0px 0 !important;
   
}
.calendar_tutorial .calenderManegemetPop:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 110%;
    background: #0000008a;
    z-index: 2;
    top: -33px;
}
.step5Tutotial ul.time_block_manage.time_block li {
  width: 13.3%;
}
body.calendar_tutorial{
  height: 100vh;
  overflow-y: hidden;
  position: fixed;
  width:calc(100% - 0px);
}
}
.tutorialStepPopup > div:nth-child(2) > div {
  overflow: hidden;

}
.tutorialStepPopup:{
  position: absolute;
  max-width: 330px;
  margin: 0 auto;
}
.calendar_tutorial .popShowTut, .calendar_tutorial .calenderManegemetPop{
  pointer-events: none;
}
.calendar_tutorial .manageCalender.poolTimeManagements, .calendar_tutorial .popShowTutDiv .instantRow, .calendar_tutorial .popShowUnavailable .instantRow{
  pointer-events: none;
}
.calendar_tutorial .manageCalender .mbsc-mobiscroll .mbsc-fr-w{
  pointer-events: none;
}
@media (max-width:767px){
  .popShowTut .mbsc-cal.mbsc-cal-week-view:after{
    top:128px;
  }
  .popShowTutDiv .instantRow .instaBookTootip{
    top: -80px;
    left: -20px;
  }
  .popShowUnavailable .instantRow .instaBookTootip{
    top: -60px;
    left: -20px;
  }
  .step5Tutotial {
    position: relative;
    padding: 0 15px;
}
.step5Tutotial ul.time_block_manage.time_block li {
  width: 13%;
}
.finishTutorial{
  width:'100%';
  float:none;
}
.tutorialLastStep .tutorialLastPara{
  position: absolute;  
  top: calc(100vh - 300px);
  width: 300px;
  left: -280px;
}
span.finishTutorial{
  width: 90%;
  padding: 10px 0 !important;
  display: inline-block;  
  margin: 0 0px 0 30px;
  float: none !important;
}
.calendar_tutorial .tutorailInsta{
  position: relative;
  top:-80px;
}
.tutorialLastStep {  
  float: right;
  top: -7px;
}
.step5Tutotial .instaBookTootipninth.instaBookTootipFifthNew {
  bottom: -69px;
}

}
