#ddmenu{ width:100%; float:left; display:block; text-align:center;letter-spacing:normal;}
#ddmenu ul{ float:left;padding:0; text-align:right; width:100%; display:inline-block; list-style:none; position:relative; z-index:999999990; margin:0;}
#ddmenu li{ margin:0; padding:0;font-size:15px;display:inline-block;*display:inline; zoom:1; /*for IE6-7*/ position:relative; color:#777; line-height:36px; transition:background-color 0.2s;outline:none;-moz-user-select:none; -webkit-user-select: none; -ms-user-select: none;margin-left:10px;}
#ddmenu .full-width { position:static;} #ddmenu .over{ color:#FFF;background-color:none;}
#ddmenu .top-heading{ white-space:nowrap; margin:0 5px;color:inherit;text-decoration:none;display:inline-block; outline:0; cursor:pointer;}
/* links of top-heading */
#ddmenu a, #ddmenu a:link, #ddmenu a:hover{color:inherit;}
#ddmenu a:hover{text-decoration:underline; border-bottom:4px solid #F60; padding-bottom:3px;} #ddmenu a:focus{ outline:1px dotted #09F;}
/* caret(arrow icon) */
#ddmenu .caret{color:inherit;left:-8px; width: 0; height: 0;overflow:hidden;/*for IE6*/ vertical-align:middle;  margin-bottom:2px;
 border-top: 4px solid;/*caret size is 4px now*/ border-right: 4px solid transparent; border-left: 4px solid transparent;display: inline-block; position:relative; color:#000;}          
/* sub-menu layout
----------------------------*/
#ddmenu .dropdown{width:auto;left:0px;color:#000000; padding:0;margin:0;display:none;position:absolute; top:100%;     border:1px solid #ddd;border-radius:0 0 2px 2px;box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);}#ddmenu .full-width .dropdown {padding:0;margin:0; margin-left:-1px; /*Set to 0 if UL has no border*/}
#ddmenu .offset300 { left:-300px;right:auto;}#ddmenu .right-aligned { left:auto;right:0px;}#ddmenu .over .dropdown{ display:block;}
#ddmenu .dd-inner { text-align:center; padding:20px; margin:0px; background-color:#FFF; white-space:nowrap;font-size:13px;line-height:1.35;padding-left:0px;}  
/* links in sub menu
----------------------------*/
#ddmenu .dropdown a{ display:table-row; *display:block;color:#333;line-height:24px;  text-decoration:none; padding:0;}
#ddmenu .dropdown a:hover, #ddmenu .dropdown a:focus{ text-decoration:underline;color:#ff7200;}
/* blocks within the sub-menu
-----------------------------*/
#ddmenu .column{text-align:left;vertical-align:top;/*or middle*/display:inline-block;*display:inline;*zoom:1; white-space:normal;width:250px;padding:0 30px;}
#ddmenu div.dd-inner div:last-child{ border-right:none;}
#ddmenu .column h3 { font-weight: 500; line-height: 1.1; margin-top: 0px; margin-bottom: 8px;font-size: 16px;}
#ddmenu .top-heading { color:#000;  font-size:16px;}#ddmenu .top-heading a{text-decoration:none; color:#000;}#ddmenu div.column260 {width:260px;}#ddmenu div.column340 {width:340px;}
/* useful when http://www.menucool.com/ddmenu/one-menu-for-all-pages */
#ddmenuLink {display:none;}
/*######## add additional styles for mobile-friendly responsive menu ########*/
#ddmenu .menu-icon   {display:none; /* hide menu icon initially */}
/*styles for mobile*/
@media only screen and (max-width: 768px) { #ddmenu .column.mayHide { display:none;}
 /*override the original settings*/
#ddmenu ul {  width: 100%;  display: none; border-radius:0; }
 #ddmenu li {position:relative; display:block; font-size:15px; text-align:left; border-bottom: 1px solid rgba(0,0,0,0.1);} #ddmenu .full-width { position:relative;}
 #ddmenu .dropdown { position:relative; *top:auto;/*for IE7*/border:none; border-radius:0; box-shadow:none; text-align:left; background-color:#FFF;}
 #ddmenu .offset300 { left:0; }
#ddmenu .full-width .dropdown{ width:auto; }
#ddmenu .dd-inner{ margin:0;background:none; text-align:left; }
  /*turn each column to list vertically instead of horizontally */
 #ddmenu .column { width:auto; padding:0px 12px;  border:none;  display:block; }
 /*move the arrow icon to right*/
#ddmenu .caret { position:absolute; left:auto; right:14px; top: 19px; border-width:5px;}
   /* All the following are for the .menu-icon (pure CSS) */
#ddmenu .menu-icon { font-size:32px;/*icon size*/display: block;position: relative;width: 40px;height:36px; text-align:center;cursor: pointer;-moz-user-select:none;-webkit-user-select: none; background-color: #F06E05; border-radius: 3px; margin-bottom:6px; /*align the icon to the right*/margin-left: auto;  margin-right: 11px;}
 #ddmenu .menu-icon::before { content: ""; position: absolute;top: 0.25em;left: 4px;width: 1em; height: 0.125em; border-top: 0.375em double #F6F6F9; border-bottom: 0.125em solid #F6F6F9; box-sizing: content-box;} #ddmenu .menu-icon-active { background-color: #F6F6F9;}
#ddmenu .menu-icon-active::before { border-color: #777;}}