.pagination {
	text-align: center;
}
.pagination a, .pagination span {
	text-align: center;
	font-family: kpoe-icons;
	text-decoration: none;
	display: inline-block;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	margin: 0 .8%;
}
.pagination a {
	color: #000;
	background-color: #888;
}
.pagination a:hover {
	background-color: #ccc;
}
.pagination span {
	color: #fff;
	background-color: #ccc;
}