ul.time_block {
  width: 100%;
  padding-left: 0;
  top: 285px;
  position: absolute;
  z-index: 2;
  background: #fff;
  max-width: 320px;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0 0 3px #ccc;
}
@media (max-width: 850px) {
  ul.time_block {
    left: unset;
    right: 30px;
  }
}
@media (max-width: 650px) {
  ul.time_block {
    left: unset;
    right: 15px;
  }
}
@media (max-width: 350px) {
  ul.time_block {
    right: 0;
    left: 0;
  }
}
ul.time_block.error_message {
  top: 184px;
}
.time_block li {
  display: inline-block;
  padding: 5px;
  border: 1px solid #eef0f1;
  cursor: pointer;
  width: 12.9199%;
  color: #232323;
  height: 38px;
  font-size: 12px;
  font-weight: 600;
  text-transform: lowercase;
}
.time_block li.active {
  background: #22bfea;
  color: white;
  border-color: #5ed1f1;
}
.time_block li.active.greyed {
  background: #b3aeae;
}
.time_block li.hovered {
  background-color: #e8e8e8;
}
.time_block li[disabled] {
  background: #edf0f0;
  color: #e0e0e0;
  border-color: #e8e8e8;
  cursor: not-allowed;
}
.timer_buttons {
  padding: 15px;
  padding-bottom: 15px;
  display: inline-block;
  float: right;
}
.timer_buttons button {
  /* float: right; */
  margin-left: 10px;
  padding: 3px 20px;
}
.timer_buttons button[disabled] {
  background: #e8e8e8;
}
.timer_buttons button:first-child {
  background: transparent;
  color: #232323;
}

.timer_buttons button:first-child span {
  color: #232323;
}
li.insta_booking {
  background-image: url(/img/time.png);

  background-repeat: no-repeat;
  background-position: bottom 2px right 5px;
  background-size: 14px;
}
ul.time_block_manage.time_block {
  position: relative;
  top: 15px;
  display: flex;
  flex-wrap: wrap;
  max-width: calc(350px + 30px);
  box-shadow: none;
  z-index: 0;
}
ul.time_block_manage.time_block li {
  width: 13.3333%;
}
button.date_button {
  background: #f3f5f5;
  padding: 11px 15px;
  box-shadow: none;
  border: none;
  font-size: 15px;
  margin-bottom: 6px;
  outline: none;
}
.react-datepicker-wrapper button {
  outline: none;
}
.react-datepicker-popper button {
  outline: none;
}
.react-datepicker-popper {
  top: 6px !important;
  z-index: 10 !important;
}
.react-datepicker__navigation {
  outline: none;
}
@media (max-width:850px){
  ul.time_block{
    top:261px;
  }
  .manageCalender form .mbsc-bootstrap .mbsc-cal .mbsc-cal-btn{
    font-size: 15px;
  }
  ul.time_block_manage.time_block li {
    width: 13.3333%;
    font-size: 10px;

  }
  form.mbsc-material.mbsc-form, .manageCalender {
    background-color: #fff !important;
    color: #6d6d6d;
    box-shadow: none !important;
  }
  .manageCalender .mbsc-form:before, .mbsc-form:after{
    opacity: 0;
    display: none;
  }
  .manageCalender .mbsc-bootstrap .mbsc-cal-c{
    width: 100%;
  }
  .manageCalender{
    margin: -10px -7px 25px;
  }
  .poolTimeManagements .mbsc-ios .mbsc-cal-year,
  .poolTimeManagements .mbsc-ios .mbsc-cal-month {
    font-size: 1.327em;
    line-height: 1.9em;
  }
}
