@import "components/fonts_colors";

@font-face {
  font-family: 'Azo Sans';
  src: url('../fonts/AzoSans-Regular.woff2') format('woff2'),
  url('../fonts/AzoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Azo Sans Bold';
  src: url('../fonts/AzoSans-Bold.woff2') format('woff2'),
  url('../fonts/AzoSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  height: 100%;
  font-family: $font-type-1;
  font-size: 16px;
  color: $primary-blue;
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  line-height: 1.5em;
}

ul {
  display: block;
  li {
    list-style: none;
  }
}

a {
  &:link, &:visited {
    text-decoration: none
  }
  &:focus {
    outline: none
  }
}

.slick-slider {
  .slick-slide {
    outline: none;
  }
}

p:last-of-type {
  margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-type-1-bold;
  color: $primary-blue;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 22px;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

#wrapper-outer {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#header-wrapper .logo-nav-wrapper {
  .nav-container{
    padding-left: 280px;
    padding-right: 280px;
  }
}

#header-wrapper .logo-nav-wrapper .nav-container .nav-item ul li ul {
  padding-left: 294px !important;
  padding-right: 294px !important;
}

#header-wrapper .logo-nav-wrapper .nav-container .nav-item.bottom-right {
  right: 294px;
}

.custom-container {
  position: relative;
  padding: 60px 280px;
  max-width: 1920px;
  margin: auto;
  &.full-width {
    padding-left: 0;
    padding-right: 0;
  }
  &.medium-width-layout {
    max-width: 1700px;
  }
  &.smallest-with-layout {
    width: 1300px;
    margin: auto;
  }
  &.remove-top-bottom-padding {
    padding-top: 0;
    padding-bottom: 0;
  }
  &.remove-top-padding {
    padding-top: 0;
  }
  &.remove-bottom-padding {
    padding-bottom: 0;
  }
}

.co-small-width-layout {
  max-width: 100%;
  width: 800px;
  margin: auto;
}

section {
  .custom-container {
    padding-bottom: 60px;
  }
  .has-content {
    text-align: left;
  }
}

.common-add-bottom-space {
  margin-bottom: 60px;
  &.type-small-space {
    margin-bottom: 35px;
  }

}

.section-title {
  text-align: center;
  &.has-content {
    text-align: center;
    h1, h2, h3 {
      margin-bottom: 24px;
    }
  }
  &.move-left {
    text-align: left;
  }
}

.search-input {
  opacity: 0;
  width: 0;
  &::placeholder {
    color: #f19331;;
  }
  &:focus {
    outline: none;
  }
}

.search-container {
  input {
    opacity: 1;
    width: 100%;
    color: $gold-color;
    padding: 5px 10px;
    border: 2px solid $gold-color;
    /*   border-image-source: linear-gradient(45deg, rgb(253, 213, 75) 0%, rgb(241, 147, 49) 100%);
       border-image-slice: 1;*/
    margin: 0 3px 10px auto;
    line-height: 0;
    transition: width 0.8s ease-in-out, opacity 0.8s ease-in-out;
    outline: none;
  }
}

.button {
  text-align: center;
  display: inline-block;
  border: 2px solid $gold-color;
  border-radius: 4px;
  /*  border-image-source: linear-gradient(45deg, rgb(253, 213, 75) 0%, rgb(241, 147, 49) 100%);
    border-image-slice: 1;*/
  width: 180px;
  height: 45px;
  color: $gold-color;
  margin-bottom: 0;
  padding: 10px 0;
  font-size: 14px;
  &:hover {
    text-decoration: none;
    /*background-image: linear-gradient(45deg, rgb(253, 213, 75) 0%, rgb(241, 147, 49) 100%);*/
    background-color: $gold-color;
    color: white;
  }
  &.type-inverse {
    background-color: red;
    color: #fff;
  }
}

.wlink-btn {
  display: inline-block;
  min-width: 180px;
  line-height: 1em;
  padding: 16px 20px 12px;

  border: none;
  border-radius: 4px;
  //background-color: $primary-color;
  //background-image: linear-gradient(115deg, #FDD54B 0%, #eeb440 45%, #fdb044 60%, #F29532 75%);
  text-align: center;
  font-size: 14px;
  color: #fff;
  letter-spacing: .1em;
  margin-bottom: 10px;

  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 0;
  background-color: #faa54e;

  &:last-of-type {
    margin-bottom: 0px;
  }
  //&:after {
  //  border-radius: inherit;
  //  display: block;
  //  width: 150%;
  //  height: 100%;
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  background-image: linear-gradient(115deg, #FDD54B 0%, #eeb440 45%, #fdb044 60%, #F29532 75%);
  //  transition: all 0.5s;
  //  transform: translate(-1%, -1%);
  //  z-index: -1;
  //}
  &:hover {
    background-color: $gold-color;

    //&:after {
    //  transform: translate(-25%, -1%);
    //}
  }
  &:hover {
    text-decoration: none;
    //background-image: linear-gradient(45deg, rgb(253, 213, 75) 0%, rgb(241, 147, 49) 100%);
    //background-color: $gold-color;
    color: white;
    transition: all .3s ease;
  }
  &.type-fill {
    //background-image: linear-gradient(45deg, #fdd54b 0%, #f19331 100%);
    //background-color: $gold-color;
    color: #fff;
    transition: all .3s ease;
  }
  //&.type-white {
  //  /*background-image: none;*/
  //  background-color: transparent;
  //  border: 2px solid #fff;
  //  transition: all .3s ease;
  //  color: #fff;
  //  &:hover {
  //    background-color: #fff;
  //    color: $gold-color;
  //    transition: all .3s ease;
  //  }
  //}
  &.type-white-text {
    color: #fff;
  }
  &.type-input {
    background-color: #faa54e;
    &:hover {
      background-color: $gold-color;
    }
  }
}

//.wlink-btn {
//  display: inline-block;
//  min-width: 180px;
//  font-size: 14px;
//  line-height: 1em;
//  padding: 16px 20px 12px;
//
//  border: 2px solid $gold-color;
//  background-color: transparent;
//  border-image-source: linear-gradient(45deg, rgb(253, 213, 75) 0%, rgb(241, 147, 49) 100%);
//  border-image-slice: 1;
//  border-radius: 4px;
//  text-align: center;
//  color: $gold-color;
//  margin-bottom: 0;
//  transition: all .3s ease;
//  &:hover {
//    text-decoration: none;
//    background-image: linear-gradient(45deg, rgb(253, 213, 75) 0%, rgb(241, 147, 49) 100%);
//    background-color: $gold-color;
//    color: white;
//    transition: all .3s ease;
//  }
//  &.type-fill {
//    background-image: linear-gradient(45deg, #fdd54b 0%, #f19331 100%);
//    background-color: $gold-color;
//    color: #fff;
//    transition: all .3s ease;
//  }
//  &.type-white {
//    /*background-image: none;*/
//    background-color: transparent;
//    border: 2px solid #fff;
//    transition: all .3s ease;
//    color: #fff;
//    &:hover {
//      background-color: #fff;
//      color: $gold-color;
//      transition: all .3s ease;
//    }
//  }
//  &.type-white-text {
//    color: #fff;
//  }
//}