#tooltip {
  z-index: 10;
  position: absolute;
  left: -999px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(0,0,0,0.75);
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#tooltip.show {
  opacity: 1;
}

.row {
  display: flex;
  flex-direction: row;
}

.social-icons-absolute {
  position: absolute;
  z-index: 3;
}

.social-icons-absolute.top {
  top: 15px;
}

.social-icons-absolute.right {
  right: 15px;
}

.social-icons-absolute.left {
  left: 15px;
}
