@import url("style-base.css");
::-webkit-input-placeholder {color: #888;}
:-moz-placeholder {color: #888;}
::-moz-placeholder {color: #888;}
:-ms-input-placeholder {color: #888;}
body {color: #aaa; background: url("/images/bg.png") top left repeat-x #363636;}
a {color: #ddd;}
a:hover {color: #fff;}
div.header {height:110px;}
div.logo {top:40px;}
ul.topmenu li a {color: #fff;}
ul.topmenu li a:hover {color: #f69c81;}
/* search field */
div.search {background: #000; border-color: #4d4d4d; top: 40px;}
div.search input.sf {color: #ddd;}
div.search button.sb:after {color: #fff;}
.autocomplete-suggestions {border-color: #4d4d4d; background:#000;}
.autocomplete-suggestion {color: #ddd;}
.autocomplete-selected {background: #202020; color: #fff;}
.autocomplete-suggestions strong {color: #ed1c24;}
/* lang selector */
#lngselect {background:url("http://static.webclicks24.com/images/select-arrow-w.png") no-repeat 100% 50%;}
#lngselect strong {color: #fff;}
#lngselect.down:after {border-bottom-color: #4d4d4d;}
#lngselect ul {background-color: #222; border-color: #4d4d4d;}
/* headers */
h1,h2,div.h {color: #f69c81; background: #101010; border-bottom: 1px solid #404040;}
h1,h2 {font-size: 24px; font-weight: 400; padding: 0 10px;}
div.h h1, div.h h2 {border: none; background: none;}
div.tbookshare {right: -5px;}
/* buttons */
div.sort a, div.durgrp a, div.pages a {background:#404040; border: 1px solid #222; color: #ccc;}
div.sort a:hover, div.durgrp a:hover, div.pages a:hover {background:#505050; color: #fff;}
div.sort a.current, div.durgrp a.current, div.pages a.current {background:#222; color:#fff;}
/* content and thumb categories */
ul.content li, ul.tcats li {border-color: #1a1a1a; background: #1a1a1a; border-bottom-color: #404040;}
ul.content li h3 {color: #f69c81; background-color: #101010; font-weight: bold;}
ul.content li span.add {}
ul.content li span.src {}
ul.content li span.src a {color: #aaa;}
ul.content li span.src a:hover {color: #fff;}
ul.content li span.tl {border-top: 1px solid #202020;}
ul.content li span.tl a,ul.content li span.tl span {color: #ccc;}
ul.content li span.tl a:hover {color: #fff;}
ul.content li span.tl a.c {color: #aaa;}
/* icons */
ul.content li h3:after, ul.content li span.add:after, ul.content li span.src:after, ul.content li span.tl:after, div.related a:after {color: #9d6352;}
div.az ul li:after, div.related a:after {color: #bb7560;}
/* text categories */
div.az ul li.letter {background: #2b2b2b; border-bottom: 1px solid #404040; color: #f69c81;}
/* back to top button */
#back_to_top a#back-to-top {background: #b54a2a;}
/* banners */
.ads3b {border-color: #1a1a1a; background: #1a1a1a; border-bottom-color:#404040;}
ul.globaltop li {color: #c8755c;}



@media all and (max-width: 1000px) {
	h1,h2 {font-size: 20px;}
	ul.content li, ul.tcats li, ul.content li:hover, ul.tcats li:hover {border-color: #363636; box-shadow: inset 0 0 1px #aaa;}
}
@media all and (max-width: 767px) {
	div.header {height: 100px; background: none;}
	div.search {top:auto;}
	div.logo {top: 5px;}
	ul.content li a.report {color: #bb7560;}
}
@media all and (max-width: 479px) {
	h1,h2 {font-size: 16px;}
}

