.kp-wrap, 
.kp-full,
.kp-left,
.kp-left-nav.
.kp-main,
.kp-right,
.kp-aside,
.kp-footer {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.kp-wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 .5%;
}
.kp-full {
	position: relative;
	width: 100%;
}
.kp-left, .kp-left-min {
	width: 20%;
    *width: 19.9690%;
	float: left;
}	
.kp-right {
	width: 80%;
	*width: 79.9690%;
	float: left;
}
.kp-left-nav {
	float:left;
	width: 20%;
    *width: 19.9690%;
}
.kp-main, .kp-main-home {
	float:left;
	width: 60%;
    *width: 59.9690%;
}
.kp-left30 {
	float: left;
	width: 50%;
    *width: 49.9690%;
}
.kp-aside {
	float: right;
	width: 20%;
    *width: 19.9690%;
	min-height: 200px;
}
.kp-aside-double {
	float: right;
	width: 40%;
    *width: 39.9690%;
	min-height: 200px;
}
.kp-footer {
	xxxheight: 100px;
	max-width: 94%;
	margin: 0 auto;
	xxxpadding: 0 .5%;
	padding: 0 3%;
}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 5px;
}
.kp-small {
	display: none;
}
.kp-big {
	display: block;
}
@media screen and (max-width: 900px) {
	.kp-wrap, .kp-footer, {
		max-width: 100%;
		xxxpadding: 0;
	}
	.kp-left-nav, .kp-left, .kp-left-min, .kp-aside {
		float: left;
		width: 25%;
		*width: 24.9225%;
	}
	.kp-main, .kp-right {
		float: right;
		width: 75%;
		*width: 74.7675%;
	}
	.kp-main-home {
		float: left;
		width: 75%;
		*width: 74.7675%;
	}
	.kp-aside-double {
		float: right;
		width: 25%;
		*width: 24.9225%;
		font-size: 0.7rem;
	}

	.kp-left30 {
		width: 100%;
	}

	.last1 {
		display: none;
	}
}
@media screen and (max-width: 620px) {
	.kp-wrap, .kp-left-nav, .kp-left, .kp-left30, .kp-main, .kp-right, .kp-footer, .kp-main-home {
		float: none;
		width: 100%;
	}
	.kp-left-min {
		width: auto;
	}
	.kp-aside, .kp-aside-double, kp-big {
		display: none;
	}
	.kp-big {
		display: none;
	}
	.kp-small {
		width: 100%;
		display: block;
	}
	/*
	.kp-left30 {
		width: 100%;
	}
	*/
}
