.nav-l {
	background-color: #e2001a;
	color: #000;
	padding: 0 0 2rem 0;
	margin: 0 0 2rem 0;
	overflow: hidden;
}
.nav-l .subact {
	text-decoration: underline;
}
.nav-l p {
	padding: 5%;
	font-weight: bold;
}
.nav-l a {
	color: #fff;
	text-decoration: none;
	font-size: 1rem;
}
.nav-l hr {
	color: #ccc;
	background-color: #ccc;
	height: 1px;
	margin: 0 1em 0 0;
	padding: 0;
	border: 0;
}
.nav-l span {
	font-family: kpoe-icons; 
	margin-left: .8em;
	color: #ccc;
}
.nav-l a:hover {
	text-decoration: underline;
}
.nav-l ul {
  padding: 0;
  margin: 0;
  font-size: 0.7rem;
  xxxline-height: 1.5;
  list-style: none;
  position: relative;
  xxxdisplay: inline-table;
}
.nav-l ul li {
	xxxpadding: 0 0 0 6%;
	padding-bottom: 5px;
}
.nav-l>ul {
	padding: 0 0 0 6%;
}
/*
.nav-l ul li::before {
	content: "→ "; 
	color: #FFF;
	font-size: smaller;
}
*/
.nav-l ul>li>ul>li:before {
	content: "→ "; 
	color: #FFF;
}
.nav-l ul>li>ul>li>ul>li:before {
	content: "→→ "; 
	color: #FFF;
}
.nav-l ul>li>ul>li>ul>li>ul>li:before {
	content: "→→→ "; 
	color: #FFF;
}
.nav-l ul>li>ul>li>ul>li>ul>li>ul>li:before {
	content: "→→→→ "; 
	color: #FFF;
}
.nav-l ul>li>ul>li>ul>li>ul>li>ul>li>ul>li:before {
	content: "→→→→→ "; 
	color: #FFF;
}
/* http://responsivenavigation.net/examples/multi-toggle/index.html */
.menu-link { display: none;}
.aktiv { color: #a71c20 !important; }
.maktiv { color: #a71c20 !important; }
.menu { 
	float:right;
	font-size: 16px;
	xxxheight:37px; 
	display:block; 
	padding:0; 
	margin: 30px 0 -26px 0;
  /* float: left; */
  -webkit-transition: all 0.3s ease;  
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}
.menu ul { 
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  display: inline-table;
}
.menu > li > ul.sub-menu {
	min-width: 10em;
	padding: 4% 0;
	background-color: #f4f4f4;
	border: 1px solid #CCC;
}
/* font: normal 400 18px/130% Palatino, Book Antiqua, Times New Roman, Times, serif; */
.menu ul li { padding: 0px; }
.menu > ul > li { display: inline-block; }
.menu ul li a { display: block; text-decoration: none; color: #fcc276; font: 900 18px/100% Palatino, Book Antiqua, Times New Roman, Times, serif; }
.menu ul li > a { xxxheight:58px; padding: 0 4px 0 4px; }
.menu ul ul { 
  display: none; 
  position: absolute; 
  xxxtop:100%;
  min-width: 160px;
  background-color: #f4f4f4;
  border: 1px solid #CCC;
  z-index: 9999;
}
.menu ul li:hover > ul { display: block; }
.menu ul ul > li { position: relative; }
.menu ul ul > li a { padding: 5px 15px 5px 10px; height: auto; background-color: #bf7033; }
.menu ul ul > li a:hover { background-color: #420000; color: #fff; }
.menu ul ul ul { position: absolute; left: 100%; top:0; }

@media all and (max-width: 768px) {
  .example-header .mcont { width: 100%; }
  .menu br { display: none; }
  
  a.menu-link { display: block; color: #fff; background-color: #333; float: right; text-decoration: none; margin: 7px -8px 0 0; padding: 19px 10px;}
  .menu { clear: both; min-width: inherit; float: none; }
  .menu, .menu > ul ul { overflow: hidden; max-height: 0; background-color: #f4f4f4; }
  .menu > li > ul.sub-menu { padding: 0px; border: none; }
  .menu.active, .menu > ul ul.active { max-height: 55em; }
  .menu ul { display: inline; }
  .menu > ul { border-top: 1px solid #808080; }
  .menu li, .menu > ul > li { display: block; }
  .menu li a { color: #d29451; display: block; padding: 0.8em; border-bottom: 1px solid #808080; position: relative; }
  .menu li.has-sub > a:after {
    content: '+';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    xxxfont-size: 1.5em;
    padding: 0.25em 0.5em;
  }
  .menu li.has-sub > a.active:after {
    content: "-";
  }
  .menu ul ul > li a { background-color: #d29451; padding: 9px 18px 5px 30px;}
  .menu ul ul, .menu ul ul ul { display: inherit; position: relative; left: auto; top:auto; border:none; }
  

  .menu ul li a { display: block; text-decoration: none; color: #fcc276; font-size: 24px; }
  .menu ul li > a { padding: 9px 12px 0 12px; }
}
@media screen and (max-width: 620px) {
	.nav-l {
		padding: 0;
		margin: 3%;
		max-width: 94%;
	}
	.nav-l p {
		padding: .5% 3%;
	}
}
