/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

@import "../bootstrap/scss/bootstrap/_variables.scss";
@import "../bootstrap/scss/bootstrap/_mixins.scss";

@import "_base.scss";

$unit: 100 / 640 * 1vw;
@import "_mobile.scss";

@media (min-width: 776px) { 
    $unit: 100 / 1100 * 1vw;
    @import "_desktop.scss";
}

@media (min-width: 1100px) { 
    $unit: 1px;
    @import "_desktop.scss";
}
